body {
/* I used to use Verdana, Geneva, sans-serif*/
font-family: Arial, Helvetica, sans-serif;
/*font-family: Verdana, Geneva, sans-serif;*/
background-color:Lavender;
margin:0;
width:100%
}
ol.papers li {
    margin: 8px 0;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
span.coursetitle {
    /*color: DarkMagenta;*/
    font-style: italic;
    padding-right: 20px;
}
span.projecttitle {
    font-style: italic;
    padding-right: 20px;
}

a {
font-weight: bold;
}
a:link {
text-decoration: none;
color:blue;
}
a:visited {
text-decoration: none;
color:blue;
}
a:hover {
text-decoration: underline;
color:black;
}
a:active {
text-decoration: underline;
color:black;
}

/*
NAVIGATION BAR

we define the following:
navtitle
navmain
blockmain
navresearchmain
blockresearchmain
navresearchsub
navseminarmain
navseminarsub
navteachingmain
navteachingsub
navsmorgasbordmain
navsmorgasbordsub
navblogmain
navblogsub
navpersonalmain
navpersonalsub
navdebugmain
navdebugsub
*/
a.navtitle {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:Lavender}
a.navtitle {text-decoration:none;
color:Black;
background-color:Lavender;
display:block;
height:90px;
text-align:center;
vertical-align:center}
a.navtitle:hover {background:Lavender}
a.navtitle:link, a:visited {}

a.navmain {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:Gray}
a.navmain {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navmain:hover {background:DimGray}
a.navmain:link, a:visited {}

a.linkmain {text-decoration:none;
color:Snow;
background-color:Gray;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkmain:hover {background:DimGray}
a.linkmain:link, a:visited {}

a.navresearchmain {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color: Red}
a.navresearchmain {text-decoration:none;
color:Snow;
background:Red;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navresearchmain:hover {background:Maroon}
a.navresearchmain:link, a:visited {}

a.linkresearchmain {text-decoration:none;
color:Snow;
background-color:Red;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkresearchmain:hover {background:Maroon}
a.linkresearchmain:link, a:visited {}

a.navresearchsub {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:Red}
a.navresearchsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navresearchsub:hover {background:Maroon}
a.navresearchsub:link, a:visited {}

a.navseminarmain {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:CornflowerBlue}
a.navseminarmain {text-decoration:none;
color:Snow;
background-color:CornflowerBlue;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navseminarmain:hover {background:Blue}
a.navseminarmain:link, a:visited {}

a.linkseminarmain {text-decoration:none;
color:Snow;
background-color:CornflowerBlue;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkseminarmain:hover {background:Blue}
a.linkseminarmain:link, a:visited {}

a.navseminarsub {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:CornflowerBlue}
a.navseminarsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navseminarsub:hover {background:Blue}
a.navseminarsub:link, a:visited {}

a.navteachingmain {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:YellowGreen}
a.navteachingmain {text-decoration:none;
color:Snow;
background-color:YellowGreen;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navteachingmain:hover {background:ForestGreen}
a.navteachingmain:link, a:visited {}

a.linkteachingmain {text-decoration:none;
color:Snow;
background-color:YellowGreen;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkteachingmain:hover {background:ForestGreen}
a.linkteachingmain:link, a:visited {}

a.navteachingsub {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:YellowGreen}
a.navteachingsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navteachingsub:hover {background:ForestGreen}
a.navteachingsub:link, a:visited {}

a.navsmorgasbordmain {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:Orange}
a.navsmorgasbordmain {text-decoration:none;
color:Snow;
background-color:Orange;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navsmorgasbordmain:hover {background:OrangeRed}
a.navsmorgasbordmain:link, a:visited {}

a.linksmorgasbordmain {text-decoration:none;
color:Snow;
background-color:Orange;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linksmorgasbordmain:hover {background:OrangeRed}
a.linksmorgasbordmain:link, a:visited {}

a.navsmorgasbordsub {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:Orange}
a.navsmorgasbordsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navsmorgasbordsub:hover {background:OrangeRed}
a.navsmorgasbordsub:link, a:visited {}

a.navblogmain {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:DarkOrchid}
a.navblogmain {text-decoration:none;
color:Snow;
background-color:DarkOrchid;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navblogmain:hover {background:DarkMagenta}
a.navblogmain:link, a:visited {}

a.linkblogmain {text-decoration:none;
color:Snow;
background-color:DarkOrchid;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkblogmain:hover {background:DarkMagenta}
a.linkblogmain:link, a:visited {}

a.navblogsub {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:DarkOrchid}
a.navblogsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navblogsub:hover {background:DarkMagenta}
a.navblogsub:link, a:visited {}

a.navpersonalmain {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:HotPink}
a.navpersonalmain {text-decoration:none;
color:Snow;
background-color:HotPink;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navpersonalmain:hover {background:DeepPink}
a.navpersonalmain:link, a:visited {}

a.navpersonalsub {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:HotPink}
a.navpersonalsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navpersonalsub:hover {background:DeepPink}
a.navpersonalsub:link, a:visited {}

a.navdebugmain {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:Gold}
a.navdebugmain {text-decoration:none;
color:Black;
background-color:Gold;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navdebugmain:hover {background:Orange}
a.navdebugmain:link, a:visited {}

a.linkdebugmain {text-decoration:none;
color:Black;
background-color:Gold;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkdebugmain:hover {background:Orange}
a.linkdebugmain:link, a:visited {}

a.navdebugsub {border-style: solid;
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:Gold}
a.navdebugsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navdebugsub:hover {background:Orange}
a.navdebugsub:link, a:visited {}

/*
SECTIONS
*/
#header {
    background-color:Lavender;
    color:DarkSlateGrey;
    text-align:left;
    padding:5px;
    height:80px;
    width:70%;
    float:right;
}
#nav {
    display:block;
    text-align:center;
    line-height:30px;
    background-color:Lavender;
    color:MidnightBlue;
    height:100%;
    width:15%;
    float:right;
    padding:0px;
}
#section {
    background-color:#FFFFFF;
    width:70%;
    height:auto;
    float:right;
    padding:5px;
}
