details > summary {
    list-style-type: '';
}

details[open] > summary {
    list-style-type: '';
}

details {
    border: 0px solid gray;
    border-radius: 0.0rem;
    padding: 0.0rem;
}

details[open] > summary {
    border: 0px solid gray;
    margin-bottom: 0.5rem;
}

details[open] {
    border: 1px solid gray;
    margin-bottom: 0.5rem;
}
	.container {
	  position: relative;
	}

	/*.image {
	  display: block;
	  width: 100%;
	  height: auto;
	}*/

	.overlay {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  height: 100%;
	  width: 100%;
	  opacity: 0;
	  transition: 1.5s ease;
	  background-color: White;
	}

	.container:hover .overlay {
	  opacity: 1;
	}

	.text {
	  color: black;
	  font-size: 60px;
	  position: relative;
/*absolute*/
	  top: 0%;
	  left: 0%;
	}
 
/* %%%%%%%%%%%%%%%%%%%%%%% */

body {
	/* I used to use Verdana, Geneva, sans-serif*/
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	/* font-family: Verdana, Geneva, sans-serif;*/
	background-color: White;/*SeaShell*/
	/* White */
	/* AliceBlue;*/
	/*Lavender*/
	/*#4169E1;*/
	margin:0;
	width:100%
}
#section {
	background-color: White;;/*SeaShell;*/
	/*#FFFFFF;*/
	width:100%;
	height:auto;
	float:right;
	padding:5px;
}
ol.papers li {
    margin: 8px 0;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
	span.newcoursetitle {
	    /*color: DarkMagenta;*/
	    /*font-style: italic;*/
	    padding-right: 50px;
	}
	span.coursetitle {
	    /*color: DarkMagenta;*/
	    font-style: italic;
	    padding-right: 20px;
	}
	span.projecttitle {
	    font-style: italic;
	    padding-right: 20px;
	}

a {
/*font-weight: bold;*/
}
a:link {
text-decoration: none;
color:blue;
}
a:visited {
text-decoration: none;
color:blue;
}
a:hover {
text-decoration: underline;
color:blue;
}
a:active {
text-decoration: underline;
color:black;
}

/*
NAVIGATION BAR

we define the following:
navtitle
navmain
blockmain
navresearchmain
blockresearchmain
navresearchsub
navseminarmain
navseminarsub
navteachingmain
navteachingsub
navsmorgasbordmain
navsmorgasbordsub
navblogmain
navblogsub
navpersonalmain
navpersonalsub
navdebugmain
navdebugsub
*/

/* LINKLIGHT */

a.linklight {border-style: solid;
border-radius: 0px;
border-left-width: 0px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color: White}
a.linklight {text-decoration:none;
color:Black;
background-color:White;
font-weight: normal;
font-size:x-large;
font-stretch:normal;
height:30px;
text-align:center;
vertical-align:center}
a.linklight:hover {background:White;border-color:White}
a.linklight:link, a.linklight:visited {}

/* MAIN */

a.navtitle {border-style: solid; /*unused*/
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:AliceBlue;}/*AliceBlue or Lavender*/
a.navtitle {text-decoration:none;
color:Black;
background-color:AliceBlue;/*AliceBlue or Lavender*/
display:block;
height:90px;
text-align:center;
vertical-align:center}
a.navtitle:hover {background:AliceBlue}/*AliceBlue or Lavender*/
a.navtitle:link, a:visited {}

a.navmain {border-style: solid;
border-radius: 8px;
border-left-width: 12px;
border-right-width: 12px;
border-top-width: 6px;
border-bottom-width: 6px;
border-color:DarkOrchid}
a.navmain {text-decoration:none;
color:Snow;
background-color:DarkOrchid;
font-weight: bold;
/*display:block;*/
height:30px;
text-align:center;
vertical-align:center}
a.navmain:hover {background:DarkMagenta;border-color:DarkMagenta}
a.navmain:link, a:visited {}

a.navsub {border-style: solid;
border-radius: 8px;
border-left-width: 12px;
border-right-width: 12px;
border-top-width: 6px;
border-bottom-width: 6px;
border-color:Gray}
a.navsub {text-decoration:none;
color:Snow;
background-color:Gray;
font-weight: bold;
/*display:block;*/
height:30px;
text-align:center;
vertical-align:center}
a.navsub:hover {background:DimGray;border-color:DimGray}
a.navsub:link, a:visited {}

a.linkmain {border-style: solid;
border-radius: 8px;
border-left-width: 5px;
border-right-width: 5px;
border-top-width: 3px;
border-bottom-width: 3px;
border-color: Gray}
a.linkmain {text-decoration:none;
color:Snow;
background-color:Gray;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkmain:hover {background:DimGray;border-color:DimGray}
a.linkmain:link, a:visited {}

/* RESEARCH */

a.navresearchmain {border-style: solid;
border-radius: 8px;
border-left-width: 12px;
border-right-width: 12px;
border-top-width: 6px;
border-bottom-width: 6px;
border-color: Red}
a.navresearchmain {text-decoration:none;
color:Snow;
background-color:Red;
font-weight: bold;
/*display:block;*/
height:30px;
text-align:center;
vertical-align:center}
a.navresearchmain:hover {background:Maroon;border-color:Maroon}
a.navresearchmain:link, a.navresearchmain:visited {}

a.linkresearchmain {border-style: solid;
border-radius: 8px;
border-left-width: 5px;
border-right-width: 5px;
border-top-width: 3px;
border-bottom-width: 3px;
border-color: Red}
a.linkresearchmain {text-decoration:none;
color:Snow;
background-color:Red;
font-weight: bold;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkresearchmain:hover {background:Maroon;border-color:Maroon}
a.linkresearchmain:link, a.linkresearchmain:visited {}

a.linkresearchfade {border-style: solid;
border-radius: 8px;
border-left-width: 5px;
border-right-width: 5px;
border-top-width: 3px;
border-bottom-width: 3px;
border-color: Maroon}
a.linkresearchfade {text-decoration:none;
color:Snow;
background-color:Maroon;
font-weight: bold;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkresearchfade:hover {background:Maroon;border-color:Maroon}
a.linkresearchfade:link, a.linkresearchfade:visited {}

a.linkresearchlight {border-style: solid;
border-radius: 6px;
border-left-width: 3px;
border-right-width: 2px;
border-top-width: 2px;
border-bottom-width: 2px;
border-color: SeaShell}
a.linkresearchlight {text-decoration:none;
color:Black;
background-color:SeaShell;
font-weight: bold;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkresearchlight:hover {font-weight:bold;background:MistyRose;border-color:MistyRose}
a.linkresearchlight:link, a.linkresearchlight:visited {}

a.navresearchsub {border-style: solid; /*unused*/
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:Red}
a.navresearchsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navresearchsub:hover {background:Maroon}
a.navresearchsub:link, a.navresearchsub:visited {}

/* SEMINAR */

a.navseminarmain {border-style: solid; /*unused*/
border-radius: 8px;
border-left-width: 12px;
border-right-width: 12px;
border-top-width: 6px;
border-bottom-width: 6px;
border-color:CornflowerBlue}
a.navseminarmain {text-decoration:none;
color:Snow;
background-color:CornflowerBlue;
font-weight: bold;
/*display:block;*/
height:30px;
text-align:center;
vertical-align:center}
a.navseminarmain:hover {background:Blue;border-color:Blue}
a.navseminarmain:link, a.navseminarmain:visited {}

a.linkseminarmain {border-style: solid;
border-radius: 8px;
border-left-width: 5px;
border-right-width: 5px;
border-top-width: 3px;
border-bottom-width: 3px;
border-color:CornflowerBlue}
a.linkseminarmain {text-decoration:none;
color:Snow;
background-color:CornflowerBlue;
font-weight: bold;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkseminarmain:hover {background:Blue;border-color:Blue}
a.linkseminarmain:link, a.linkseminarmain:visited {}

a.navseminarsub {border-style: solid; /*unused*/
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:CornflowerBlue}
a.navseminarsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navseminarsub:hover {background:Blue}
a.navseminarsub:link, a.navseminarsub:visited {}

/* TEACHING */

a.navteachingmain {border-style: solid;
border-radius: 8px;
border-left-width: 12px;
border-right-width: 12px;
border-top-width: 6px;
border-bottom-width: 6px;
border-color:YellowGreen}
a.navteachingmain {text-decoration:none;
color:Snow;
background-color:YellowGreen;
font-weight: bold;
/*display:block;*/
height:30px;
text-align:center;
vertical-align:center}
a.navteachingmain:hover {background:ForestGreen;border-color:ForestGreen}
a.navteachingmain:link, a.navteachingmain:visited {}

a.linkteachingmain {border-style: solid;
border-radius: 8px;
border-left-width: 5px;
border-right-width: 5px;
border-top-width: 3px;
border-bottom-width: 3px;
border-color:YellowGreen}
a.linkteachingmain {text-decoration:none;
color:Snow;
background-color:YellowGreen;
font-weight: bold;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkteachingmain:hover {background:ForestGreen;border-color:ForestGreen}
a.linkteachingmain:link, a.linkteachingmain:visited {}

a.navteachingsub {border-style: solid; /*unused*/
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:YellowGreen}
a.navteachingsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navteachingsub:hover {background:ForestGreen}
a.navteachingsub:link, a.navteachingsub:visited {}

/* SMORGASBORD */

a.navsmorgasbordmain {border-style: solid;
border-radius: 8px;
border-left-width: 12px;
border-right-width: 12px;
border-top-width: 6px;
border-bottom-width: 6px;
border-color:Orange}
a.navsmorgasbordmain {text-decoration:none;
color:Snow;
background-color:Orange;
font-weight: bold;
/*display:block;*/
height:30px;
text-align:center;
vertical-align:center}
a.navsmorgasbordmain:hover {background:OrangeRed;border-color:OrangeRed}
a.navsmorgasbordmain:link, a.navsmorgasbordmain:visited {}

a.linksmorgasbordmain {border-style: solid;
border-radius: 8px;
border-left-width: 5px;
border-right-width: 5px;
border-top-width: 3px;
border-bottom-width: 3px;
border-color:Orange}
a.linksmorgasbordmain {text-decoration:none;
color:Snow;
background-color:Orange;
font-weight: bold;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linksmorgasbordmain:hover {background:OrangeRed;border-color:OrangeRed}
a.linksmorgasbordmain:link, a.linksmorgasbordmain:visited {}

a.navsmorgasbordsub {border-style: solid; /*unused*/
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:Orange}
a.navsmorgasbordsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navsmorgasbordsub:hover {background:OrangeRed}
a.navsmorgasbordsub:link, a.navsmorgasbordsub:visited {}

/* BLOG */

a.navblogmain {border-style: solid; 
border-radius: 8px;
border-left-width: 12px;
border-right-width: 12px;
border-top-width: 6px;
border-bottom-width: 6px;
border-color:DarkOrchid}
a.navblogmain {text-decoration:none;
color:Snow;
background-color:DarkOrchid;
font-weight: bold;
/*display:block;*/
height:30px;
text-align:center;
vertical-align:center}
a.navblogmain:hover {background:DarkMagenta;border-color:DarkMagenta}
a.navblogmain:link, a.navblogmain:visited {}

a.linkblogmain {border-style: solid;
border-radius: 8px;
border-left-width: 5px;
border-right-width: 5px;
border-top-width: 3px;
border-bottom-width: 3px;
border-color:DarkOrchid}
a.linkblogmain {text-decoration:none;
color:Snow;
background-color:DarkOrchid;
font-weight: bold;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkblogmain:hover {background:DarkMagenta;border-color:DarkMagenta}
a.linkblogmain:link, a.linkblogmain:visited {}

a.navblogsub {border-style: solid; /*unused*/
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:DarkOrchid}
a.navblogsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navblogsub:hover {background:DarkMagenta}
a.navblogsub:link, a.navblogsub:visited {}

/* PERSONAL */

a.navpersonalmain {border-style: solid;
border-radius: 8px;
border-left-width: 12px;
border-right-width: 12px;
border-top-width: 6px;
border-bottom-width: 6px;
border-color:HotPink}
a.navpersonalmain {text-decoration:none;
color:Snow;
background-color:HotPink;
font-weight: bold;
/*display:block;*/
height:30px;
text-align:center;
vertical-align:center}
a.navpersonalmain:hover {background:DeepPink;border-color:DeepPink}}
a.navpersonalmain:link, a.navpersonalmain:visited {}

a.navpersonalsub {border-style: solid; /*unused*/
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:HotPink}
a.navpersonalsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navpersonalsub:hover {background:DeepPink}
a.navpersonalsub:link, a.navpersonalsub:visited {}

a.linkpersonalmain {border-style: solid;
border-radius: 8px;
border-left-width: 5px;
border-right-width: 5px;
border-top-width: 3px;
border-bottom-width: 3px;
border-color:HotPink}
a.linkpersonalmain {text-decoration:none;
color:Snow;
background-color:HotPink;
font-weight: bold;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkpersonalmain:hover {background:DeepPink;border-color:DeepPink}
a.linkpersonalmain:link, a.linkpersonalmain:visited {}

/* DEBUG */
 
a.navdebugmain {border-style: solid;
border-radius: 8px;
border-left-width: 12px;
border-right-width: 12px;
border-top-width: 6px;
border-bottom-width: 6px;
border-color:Gold}
a.navdebugmain {text-decoration:none;
color:Black;
background-color:Gold;
font-weight: bold;
/*display:block;*/
height:30px;
text-align:center;
vertical-align:center}
a.navdebugmain:hover {background:Orange;border-color:Orange}
a.navdebugmain:link, a.navdebugmain:visited {}

a.linkdebugmain {border-style: solid;
border-radius: 8px;
border-left-width: 5px;
border-right-width: 5px;
border-top-width: 3px;
border-bottom-width: 3px;
border-color:Gold}
a.linkdebugmain {text-decoration:none;
color:Black;
background-color:Gold;
font-weight: bold;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkdebugmain:hover {background:Orange;border-color:Orange}
a.linkdebugmain:link, a.linkdebugmain:visited {}

a.linkdebugfade {border-style: solid;
border-radius: 8px;
border-left-width: 5px;
border-right-width: 5px;
border-top-width: 3px;
border-bottom-width: 3px;
border-color:Orange}
a.linkdebugfade {text-decoration:none;
color:Black;
background-color:Orange;
font-weight: bold;
font-size:large;
height:30px;
text-align:center;
vertical-align:center}
a.linkdebugfade:hover {background:Orange;border-color:Orange}
a.linkdebugfade:link, a.linkdebugfade:visited {}

a.navdebugsub {border-style: solid; /*unused*/
border-left-width: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-color:Gold}
a.navdebugsub {text-decoration:none;
color:Snow;
background-color:Gray;
display:block;
height:30px;
text-align:center;
vertical-align:center}
a.navdebugsub:hover {background:Orange}
a.navdebugsub:link, a.navdebugsub:visited {}
